#products__items {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border: 0.5px solid var(--primary);
}
#products__items::-webkit-scrollbar {
    display: none;
}
#products__items figure {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}
#products__items figure img {
    object-fit: cover;
    height: 100%;
    width: 40%;
    transition: 0.3s;
}
#products__items figure img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#products__items figcaption {
    padding: 20px 30px 20px 0;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary);
    gap: 10%;
}
#products__items figcaption h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 25px;
}
#products__items figcaption p {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
#products__items figcaption span {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
#products__items figcaption .details__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10%;
}
#products__items figcaption .details__add button {
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--primary);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--primary);
    border-radius: 10px;
    transition: 0.3s;
    width: 50%;
    font-size: 14px;
}
#products__items figcaption .details__add button:hover {
    background: linear-gradient(90deg, var(--primary), rgba(17, 194, 179, 0.192));
    color: #fff;
    transform: scale(1.05);
}
#products__items figcaption .details__add .details__quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 70%;
    overflow: hidden;
}
#products__items figcaption .details__add input {
    padding: 6px 8px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--primary);
    box-shadow: 2px 2px 2px rgba(103, 102, 102, 0.5);
    width: 50%;
    text-align: center;
}