.overlay__detail {
    background-image: url("../../../public/assets/images/cake2/1292924.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.mainDetails {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 13%;
    left: 8%;
    border-radius: 30px;
    overflow: hidden;
}
.main__overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
}