.sidebarAdmin {
    width: 300px;
    height: 100%;
    background-color: #1d1f19;
    padding: 20px 0 20px 20px;
}
.sidebarAdmin .informationAdmin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    height: 100px;
}
.sidebarAdmin .informationAdmin img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebarAdmin .informationAdmin .nameAdmin {
    color: #fff;
    text-align: center;
    width: 100%;
}
.sidebarAdmin .informationAdmin .nameAdmin .btnLogout {
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebarAdmin .informationAdmin .nameAdmin .btnLogout:hover {
    background-color: rgb(4, 150, 180);
    transform: scale(1.1);
}
.sidebarAdmin .menuAdmin .menuAdminItem {
    padding: 30px 0 30px 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
.sidebarAdmin .menuAdmin .menuAdminItem.activeAdmin {
    background-color: #e3e3e3;
    color: #1d1f19;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}
.sidebarAdmin .menuAdmin .menuAdminItem.activeAdmin::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1d1f19;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    box-shadow: 15px 15px 0px 0px #e3e3e3;
}
.sidebarAdmin .menuAdmin .menuAdminItem.activeAdmin::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1d1f19;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    box-shadow: 15px -15px 0px 0px #e3e3e3;
}